.footer {
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80vw;
}

.network {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.network a {
  padding: 2rem;
  transition: all 0.5s;
}

.network a:hover {
  transform: scale(1.2);
}

.footer p {
  font-size: 0.7rem;
  color: #fff;
}

.fim-footer {
  width: 90vw;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 640px) {
  .footer p {
    text-align: center;
    font-size: 0.5rem;
    color: #fff;
  }
}

/* @media screen and (max-width: 480px) {
  .network a {
    padding: 0;
  }
} */
