.form-projects {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
  width: 80vw;
}

.form-projects input {
  margin-bottom: 1em;
  padding: 0.7em;
  border: 0;
  border-radius: 5px;
  width: 400px;
}

.form-projects textarea {
  width: 400px;
  height: 115px;
  resize: none;
}

.form-projects button {
  width: 300px;
  height: 35px;
  border: 0;
  border-radius: 7px;
  background-color: #181c2e;
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 1.5rem;
}
