.carrer {
  margin-top: 5rem;
  width: 70vw;
}

@media screen and (min-width: 1400px) {
  .carrer {
    width: 60vw;
  }
}

.carrer h4 {
  margin-left: 3rem;
  font-size: 1.5rem;
  color: #fff;
}

.carrer p {
  margin-left: 3rem;
  font-size: 1.2rem;
  color: #fff;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: " ";
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
  margin-right: 2rem;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 2rem;
  padding-bottom: 3rem;
}

ul.timeline > li:before {
  content: " ";
  background: #0c1821;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

@media screen and (max-width: 640px) {
  .carrer {
    width: 80vw;
    margin-top: 2rem;
  }

  ul.timeline > li {
    margin: 20px 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .carrer h4 {
    margin-left: 3rem;
    font-size: 1.2rem;
    color: #fff;
  }

  .carrer p {
    margin-left: 3rem;
    font-size: 1rem;
    color: #fff;
  }
}
